---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="navbar" id="Navbar">
				<img src="/dark_logo.png" class="logo" alt="Logo" id="NavbarLogo">
				<ul class="social-media">
					<li><a class="twitch" href="https://www.twitch.tv/bbell00"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#000" d="M11.64 5.93h1.43v4.28h-1.43m3.93-4.28H17v4.28h-1.43M7 2L3.43 5.57v12.86h4.28V22l3.58-3.57h2.85L20.57 12V2m-1.43 9.29l-2.85 2.85h-2.86l-2.5 2.5v-2.5H7.71V3.43h11.43Z"/></svg></a></li>
					<li><a class="youtube" href="https://www.youtube.com/@Bbell00_/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 180"><path fill="#000" d="M250.346 28.075A32.18 32.18 0 0 0 227.69 5.418C207.824 0 127.87 0 127.87 0S47.912.164 28.046 5.582A32.18 32.18 0 0 0 5.39 28.24c-6.009 35.298-8.34 89.084.165 122.97a32.18 32.18 0 0 0 22.656 22.657c19.866 5.418 99.822 5.418 99.822 5.418s79.955 0 99.82-5.418a32.18 32.18 0 0 0 22.657-22.657c6.338-35.348 8.291-89.1-.164-123.134"/><path fill="#fff" d="m102.421 128.06l66.328-38.418l-66.328-38.418z"/></svg></a></li>
					<li><a class="instagram" href="https://www.instagram.com/brancafutbol_sa/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#000" d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"/></svg></a></li>
					<li><a class="tiktok" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#000" d="M16.6 5.82s.51.5 0 0A4.28 4.28 0 0 1 15.54 3h-3.09v12.4a2.59 2.59 0 0 1-2.59 2.5c-1.42 0-2.6-1.16-2.6-2.6c0-1.72 1.66-3.01 3.37-2.48V9.66c-3.45-.46-6.47 2.22-6.47 5.64c0 3.33 2.76 5.7 5.69 5.7c3.14 0 5.69-2.55 5.69-5.7V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3s-1.88.09-3.24-1.48"/></svg></a></li>
				</ul>
		</div>
		<div class="banner" id="Banner">
			<div class="bannerText">
				<img src="/logo.png" class="logo" alt="Logo" id="BannerLogoClone">
				<h1>Bienvenido a <span class="text-gradient">Branca Fútbol</span></h1>
			</div>
			<img src="/SKY_BANNER.png" alt="" class="sky">
			<img src="/GRASS_BANNER.png" alt="" class="grass">
			<img src="/Player1.png" alt="" class="player1">
			<img src="/Player2.png" alt="" class="player2">
			<img src="/Player3.png" alt="" class="player3">
		</div>
		<slot></slot>
		<script>
			window.addEventListener('scroll', function() {
			const Navbar = document.getElementById('Navbar');
			const scrollY = window.scrollY;
			const maxScroll = 240;

			if (scrollY > maxScroll) {
				Navbar.classList.add('visible');
			} else {
				Navbar.classList.remove('visible');
			}
			});
		</script>
	</body>
</html>
<style is:global>
	:root {
		--accent: 7, 108, 69;
		--accent-light: 0, 103, 54;
		--accent-dark: 43, 129, 89;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(167, 183, 175) 30%,
			white 60%
		);
		--bgcolor: rgb(2, 0, 36);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #272727;
	}
	html, body {
        margin: 0;
        padding: 0;
        height: 100%;
		overflow-x: clip;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	.banner {
		position: relative;
        width: 100%;
        display: grid;
        background-color: #f8f9fa;
		grid-template-areas: "stack";
		z-index: 0;
		overflow: clip;
    }
	.banner .bannerText {
		background-color: rgba(0,0,0,.8);
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.5rem 1.5rem;
		z-index: 4;
		position: absolute;
		left: 50%;
		top: 20%;
		border-radius: 5px;
		-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
		-webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
		box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
		border: 1px solid rgba(255, 255, 255, 0.3);
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
		transform: translateX(-50%);
		--parallax-speed: 9;
		grid-area: stack;
		animation: text-parallax linear;
		animation-timeline: scroll();
	}
	.banner .sky {
		z-index: 2;
		transform: scale(1.5);
		width: 100vw;
		--parallax-speed: 12;
	}
	.banner .grass {
		z-index: 5;
		width: 100vw;
		--parallax-speed: 6;
	}
	.banner .player1 {
		z-index: 6;
		width: 20vw;
		--parallax-speed: 3;
		position: absolute;
		bottom: -20%;
		left: 15%;
	}
	.banner .player2 {
		z-index: 6;
		width: 35vw;
		--parallax-speed: 3;
		position: absolute;
		bottom: 0%;
		left: 33%;
	}
	.banner .player3 {
		z-index: 6;
		width: 20vw;
		--parallax-speed: 3;
		position: absolute;
		bottom: -20%;
		right: 15%;
	}
	.banner .grass, .banner .sky, .banner .player1, .banner .player2, .banner .player3 {
		grid-area: stack;
		animation: parallax linear;
		animation-timeline: scroll();
	}
      .navbar {
        position: fixed;
		box-sizing: border-box;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #333;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
		padding: 1rem;
		z-index: 99;
      }
      .navbar.visible {
        transform: translateY(0);
      }
	  .navbar .logo {
		width: 100px;
		transition: transform 0.3s ease-in-out;
	}

	.parallax-logo {
		transform: translate(-50%, -120%);
	}
	.logo.fade-out {
		opacity: 0;
	}
    .navbar .logo {
        width: 50px;
		transition: width 0.3s ease-in-out, opacity 0.5s ease-in-out;
  		opacity: 1;
    }
	  .banner .logo {
		width: 5rem;
		padding-right: 1.5rem;
	}

	@keyframes parallax {
		to {
			transform: translateY(calc(var(--parallax-speed) * 10vw));
		}
	}
	@keyframes text-parallax {
		to {
			transform: translate(-50%, calc(var(--parallax-speed) * 10vw));
		}
	}

/* SOCIAL MEDIA */
.social-media {
  margin:0;
  padding:0;
  display:flex;
}

.social-media li {
  list-style: none;
}

.social-media li a {
  position: relative;
  width:3rem;
  height:3rem;
  display:flex;
  text-align:center;
  justify-content: center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

.social-media li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration:none;
  transform: scale(1.1);
}

.social-media li a svg {
  width: 2rem;
  display:block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size:24px;
  color: #262626;
  transition: .5s;
  fill: black;
}

.social-media li:nth-child(1) a:hover svg path {
  fill: #6441a5;
}

.social-media li:nth-child(2) a:hover svg path:nth-child(1) {
  fill: #FF0000;
}

.social-media li:nth-child(3) a:hover svg path {
  fill: #C13584;
}

.social-media li:nth-child(4) a:hover svg path {
  fill: #000000;
}
</style>
